* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Playfair Display', serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #c0a193e5;
}